<ion-view title="{{navTitle}}" >
  <ion-content>
  		<div class="list">
              <label class="item item-input">
                <span class="input-label" style="font-size:20px; font-weight:bold; color:red">Query On Hand Availability</span>
              </label>
  		</div>
        
        <div>
              <label class="item-input" style="margin-top:-10px;">
                <span class="input-label1" style="font-size:18px; font-weight:bold; padding-bottom:4px;">Item Name</span>
              </label>
  		</div>
        
        <div>
              <label class="item-input" style="margin-top:0px; background-color:red;">
                <div class="list list-inset" style="width:90%; float:left position:relative; top:0px;">
                  <label class="item item-input" >
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="SearchBox" placeholder="Enter Item Name : ">
                  </label>
                </div>
                <div class="" style="width:20%; float:left position:relative; top:2px;">
                	<a href="#/app/SearchItem/{{SearchTextBox}}"><button class="button icon-left ion-android-search button-positive" style="width:120px; font-size:18px;">Search</button></a>
                </div>
              </label>
  		</div>
        
        <div ng-repeat="item in ItemsArray|filter:SearchBox">
        	<a class="item item-icon-left item-icon-right" href="#/app/OnHandSearch/{{item.code}}">
                <i class="icon ion-plus" style="font-size:12px;"></i>
                {{item.name}}
                <i class="icon ion-ios-arrow-right"></i>
 			</a>
        </div>
  </ion-content>
</ion-view>