<ion-view title="{{navTitle}}">
  <ion-nav-bar class="AP-bar">
    <ion-header-bar class="bar-stable">
    </ion-header-bar>
  </ion-nav-bar>
  <div class=" bar AP-login bar-subheader AP-bar-subheader static" style="height: 100%;">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <form class="AP-form padding-horizontal" style="height: 100%" name="loginForm" ng-submit="doLogin()" role="form">
      <ion-list class="padding">

        <ion-item class=" error-container error row" ng-show="loginFail">
          <i class=""></i>

          <div style="border-bottom: 3px solid #F44336;" class="col">
            Login Failed, Error message: {{loginError}}
          </div>
        </ion-item>
        <ion-item>
          <label class="item item-input"
                 ng-class="{ 'has-errors' : loginForm.username.$dirty&&loginForm.username.$invalid, 'no-errors' : loginForm.username.$dirty&&loginForm.username.$valid}">
            <input type="text" placeholder="Username" name="username" ng-model="user.name" required>
          </label>

          <div class="error-container" ng-show="loginForm.username.$dirty&&loginForm.username.$invalid">
            <div class="error">
              <i class=""></i> User Name is required!
            </div>
          </div>
        </ion-item>
        <div class="AP-item AP-item-header" style="height:10px"></div>

        <ion-item>
          <label class="item item-input"
                 ng-class="{ 'has-errors' : loginForm.password.$dirty&&loginForm.password.$invalid, 'no-errors' : loginForm.password.$dirty&&loginForm.password.$valid}">
            <input type="password" placeholder="password" name="password" ng-model="user.password" required>
          </label>

          <div class="error-container" ng-show="loginForm.password.$dirty&&loginForm.password.$invalid">
            <div class="error">
              <i class=""></i> Password is required!
            </div>
          </div>
        </ion-item>
        <div class="AP-item AP-item-header" style="height:10px"></div>

        <ion-item>
          <button style="height: 46px;  max-width: none; width: 100%;" type="submit"
                  class="button button-block button-positive"
                  ng-disabled="loginForm.$invalid">
            Sign-In
          </button>
        </ion-item>
      </ion-list>
      <img class="AP-AuraPlayer-logo" src="img/AuraPlayer$light.png"/>
    </form>
  </div>
</ion-view>
