<ion-view title="{{navTitle}}" class="dark-bg">
  <ion-content class="animate-fade-slide-in">
    <ion-list class="dark-bg">
      <div class="item item-divider ebs-item-divider dark-bg light">
        <h1 style="text-align: center">Item Management</h1>
      </div>
      <div class="list half padding">
        <div class="item dark-bg light" ui-sref="app.OnHand.List">
          <div class="text-center">
            <button class="button-calm button button-fab"><i class="fa fa-search"></i></button>
            <div class="ebsMainMenuLabel">Item Search</div>
          </div>
        </div>
      </div>
      <div class="list half padding" ui-sref="app.OnHand.List">
        <div class="item dark-bg light">
          <div class="text-center">
            <button class="button-calm button button-fab"><i class="fa fa-barcode"></i></button>
            <div class="ebsMainMenuLabel">On Hand Lookup</div>
          </div>
        </div>
      </div>
      <div class="item item-divider ebs-item-divider dark-bg light">
        <h1 style="text-align: center">Inventory Management</h1>
      </div>
      <div class="list half padding">
        <div class="item dark-bg light" ui-sref="app.TagCount">
          <div class="text-center">
            <button class="button-calm button button-fab"><i class="fa fa-list-ol"></i></button>
            <div class="ebsMainMenuLabel">Physical Count</div>
            </div>
        </div>
      </div>
      <div class="list half padding">
        <div class="item dark-bg light" ui-sref="app.CycleCount">
          <div class="text-center">
            <button class="button-calm button button-fab"><i class="fa fa-calendar"></i></button>
            <div class="ebsMainMenuLabel">Cycle Count</div>
            </div>
        </div>
      </div>
      <div class="list half padding">
        <div class="item dark-bg light" on-tap="goto('app.SubInvTrans.List')">
          <div class="text-center">
            <button class="button-calm button button-fab"><i class="fa fa-share-square-o"></i></button>
            <div class="ebsMainMenuLabel">Sub Inv Transfer</div>
            </div>
        </div>
      </div>
      <div class="list half padding">
        <div class="item dark-bg light">
          <div class="text-center">
            <button style="background-color: #1b6498;" class="button-calm button button-fab" disabled><i
              style="color: #bababa;" class="fa fa-truck"></i></button>
            <div class="ebsMainMenuLabel">Inter Org</div>
            </div>
        </div>
      </div>
      <div class="item dark-bg light">
        <!-- <img class="AP-AuraPlayer-logo" src="img/AuraPlayer$secColor.png"/> -->
        <img class="AP-AuraPlayer-logo" src="img/AuraPlayer$light.png"/>
      </div>
      <div class="item dark-bg light">
        <h4 class="padding-horizontal" style="text-align: right">{{$root.appVersion}}</h4>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
