<ion-view title="{{navTitle}}">
  <ion-content>
  	 <div class="row item" style="padding-top:15px; padding-bottom:15px">
         <div class="col TitleInfo">Item :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row item" style="padding-top:15px; padding-bottom:15px">
          <div class="col TitleInfo" >Total :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row" style="padding-top:15px;">
          <div class="col TitleInfo">Org :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row">
          <div class="col TitleInfo">Sub :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row">
          <div class="col TitleInfo">Locator :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row" style="padding-bottom:15px;">
          <div class="col TitleInfo">Status :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row item" style="padding-top:15px; border-bottom:none">
          <div class="col TitleInfo" >CG :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row">
          <div class="col TitleInfo">PRJ :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row" style="padding-bottom:15px;">
         <div class="col TitleInfo">REV :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row item" style="border-bottom:none; padding-top:15px;">
         <div class="col TitleInfo">UOM :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
     <div class="row">
         <div class="col TitleInfo">On Hand :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
      <div class="row">
         <div class="col TitleInfo">Loose :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
      <div class="row">
          <div class="col TitleInfo">Reserved :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div>
      <div class="row">
          <div class="col TitleInfo">Loaded :</div>
          <div class="col-80 TitleRight">sss{{details.Item.selected}}</div>
     </div> 
  </ion-content>
</ion-view>
