<ion-view title="{{navTitle}}">
  <!--debug -->
  <div class="AP-debug">
    headerCollapsed: <input type="checkbox" ng-model="headerCollapsed"><br>
    selectedItem: <input type="checkbox" ng-model="selectedItem">
  </div>
  <!--subheader -->

  <div class="bar bar-subheader AP-bar-subheader static" style="height: 100%"
       ng-style="{height:(headerCollapsed)?'130px':'100%'}">
    <form class="AP-form padding-horizontal" style="height: 100%">
      <div>
        <label class="item-input-wrapper" style="margin-top: 15px;">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" id="itemFilter" placeholder="Quick Search" ng-model="selectedValues.itemFiler">
        </label>
      </div>

      <div ng-hide="headerCollapsed">
        <div class="AP-item AP-item-header">
          <label class="AP-item-header-underline AP-flex-max">Advanced Search</label>
        </div>

        <ion-item class="AP-bar-subheader">
          <div class="AP-item AP-item-header">
            <label style="min-width: 70px;">Lot</label>
            <select class="AP-right AP-flex-max" ng-model="selectedValues">
              <option>!!lot 1!!</option>
            </select>
          </div>
        </ion-item>

        <ion-item class="AP-bar-subheader">
          <div class="AP-item AP-item-header">
            <label style="min-width: 70px;">Subinv.</label>
            <select class="AP-right AP-flex-max" ng-model="selectedValues">
              <option>!!subinv 1!!</option>
            </select>
          </div>
        </ion-item>

        <ion-item class="AP-bar-subheader">
          <div class="AP-item AP-item-header">
            <label style="min-width: 70px;">Project</label>
            <select class="AP-right AP-flex-max" ng-model="selectedValues">
              <option>!!project 1!!</option>
            </select>
          </div>
        </ion-item>
      </div>
      <div>
        <div ng-hide="headerCollapsed" style="padding: 0 0 5px 0" class="AP-item AP-item-header">
          <label class="AP-item-header-underline AP-flex-max"></label>
        </div>

        <ion-item style="padding-top: 5px" class="AP-bar-subheader">
          <div class="AP-item AP-item-header">
            <label style="min-width: 70px;">View By</label>
            <select class="AP-right AP-flex-max" ng-model="selectedValues">
              <option>!!Location!!</option>
            </select>
          </div>
        </ion-item>
      </div>

      <div ng-hide="headerCollapsed" class="AP-item AP-flex-max"></div>
      <div ng-hide="headerCollapsed" class="AP-item AP-item-header AP-check-form" on-tap="countConfirm()">
        <div><i class="fa fa-check"></i></div>
      </div>
      <div ng-hide="headerCollapsed" class="AP-item AP-item-header" style="height:50px"></div>
    </form>
  </div>

  <ion-content class="AP-content" style="top:170px;">
    <!-- the main list -->

    <!-- filter headline-->
    <div class="padding-horizontal AP-item-detail-finished">
      <div class="AP-item AP-item-detail AP-clear-border">
        <label>Location</label>
      </div>
    </div>

    <!-- item-->
    <div class="padding-horizontal" ng-class="selectedItem?'AP-item-selected':''">
      <!-- item header -->
      <div class="AP-item AP-item-detail" style="padding-bottom: 0; border-bottom: none">
        <label>!!CM11222!!</label>
        <span class="AP-flex-max">!!Batterv Extended Life!!</span>
        <i class="fa ap-right" ng-class="selectedItem?'fa-times':'fa-angle-down'"></i>
      </div>
      <div class="AP-item AP-item-selected-detail AP-clear-padding" style="border-bottom: none">
        <div class="half">
          <label class="">Sub:</label>
          <span class="AP-flex-max AP-right">!!Sub!!</span>
        </div>
        <div class="half">
          <label class="">Locator:</label>
          <span class="AP-flex-max AP-right">!!Locator!!</span>
        </div>
      </div>
      <div class="AP-item AP-item-selected-detail AP-clear-padding">
        <div class="half">
          <label class="">Lot:</label>
          <span class="AP-flex-max AP-right">!!Lot!!</span>
        </div>
        <div class="half">
          <label class="">Projct:</label>
          <span class="AP-flex-max AP-right">!!projct!!</span>
        </div>
      </div>
      <!-- item details -->
      <div ng-show="selectedItem">
        <div class="AP-item AP-item-selected-detail" style="border-bottom: none">
          <div class="half">
            <label class="">CG:</label>
            <span class="AP-flex-max AP-right">!!CG!!</span>
          </div>
          <div class="half">
            <label class="">Task:</label>
            <span class="AP-flex-max AP-right">!!Task!!</span>
          </div>
        </div>
        <div class="AP-item AP-item-selected-detail AP-clear-padding">
          <div class="half">
            <label class="">Rev:</label>
            <span class="AP-flex-max AP-right">!!Rev!!</span>
          </div>
          <div class="half">
            <label class="">GRD:</label>
            <span class="AP-flex-max AP-right">!!GRD!!</span>
          </div>
        </div>
        <div class="AP-item AP-item-detail AP-clear-padding" style="padding-bottom: 0; border-bottom: none">
          <label>On hand</label>
          <span class="AP-flex-max AP-right">!!2345!!</span>
          <span class="AP-right">!!um!!</span>
        </div>
        <div ng-show="selectedItem">
          <div class="AP-item AP-item-selected-detail AP-clear-padding" style="border-bottom: none">
            <div class="half">
              <label class="">Reserved:</label>
              <span class="AP-flex-max AP-right">!!Reserved!!</span>
            </div>
            <div class="half">
              <label class="">Loaded:</label>
              <span class="AP-flex-max AP-right">!!Loaded!!</span>
            </div>
          </div>
          <div class="AP-item AP-item-selected-detail AP-clear-padding">
            <div class="half">
              <label class="">packed:</label>
              <span class="AP-flex-max AP-right">!!packed!!</span>
            </div>
            <div class="half">
              <label class="">Un packed:</label>
              <span class="AP-flex-max AP-right">!!Un packed!!</span>
            </div>
          </div>
        </div>
        <div class="AP-item" ng-show="selectedItem">
          <div class="half AP-item-detail" style="border-bottom: none">
            <label></label>
          </div>
          <div class="half AP-check-form" on-tap="subinvetoryTransfer()">
            <div style="margin-right: 0">
              <i style="font-size: 18px; padding-top: 13px" class="fa fa-share-square-o">
                <label>Sub inventory</label> </i>
            </div>
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
