<ion-view title="{{navTitle}}">
    <div class="bar bar-subheader AP-bar-subheader static">
        <h2>Query On Hand Availability</h2>
    </div>
    <ion-content class="has-subheader">
        <ion-list class="padding" style="margin-top:50px">
            <ion-item class="item-divider"><h1>Quick Search</h1></ion-item>
            <ion-item class="item-input item-assertive">
                <div class="list list-inset" style="width:90%; float:left; position:relative; top:-10px;">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios7-search placeholder-icon"></i>
                        <input type="search" placeholder="Search" ng-change="search()" ng-model="data.search">
                    </label>
                </div>
            </ion-item>
        </ion-list>
        <div ng-repeat="item in ItemsArray|filter:data.search" ng-show="hideBar">
            <a class="item item-icon-left item-icon-right" href="#/app/OnHandSearch/{{item.name}}">
                <i class="icon ion-plus" style="font-size:12px;"></i>
                {{item.name}} - {{item.desc}} (qty:{{item.qty}})
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <ion-list class="padding">
            <ion-item class="item-divider"><h1>Advanced Search</h1></ion-item>
            <ion-item class="item-input item-select list half padding">
                <div class="input-label" style="font-weight:bold; color:red">
                    Organization :
                </div>
                <select ng-model="OnHandCurrentValue.organization" ng-change="orgChange()">
                    <option ng-repeat="client in Org" value="{{client.Id}}">{{client.Name}}</option>
                </select>
            </ion-item>
            <ion-item class="item-input item-select list half padding">
                <div class="input-label" style="font-weight:bold; color:red">
                    Location :
                </div>
                <select ng-model="OnHandCurrentValue.loaction">
                    <option ng-repeat="loc in LocationArray" value="{{loc.Id}}">{{loc.Name}}</option>
                </select>
            </ion-item>
        </ion-list>
            <label class="item item-input">
                <div class="input-label" style="width:20%; font-weight:bold; color:red">
                    Lot :
                </div>
                <div class="list" style="width:80%">
                    <div class="item-input-inset">
                        <label class="item-input" style="width:90%;">
                            <input type="text" ng-model="OnHand.loaction" placeholder="Please Enter Lot" style="background-color:#ccc; padding:10px;">
                        </label>
                        <button class="button button-assertive ion-ios-barcode-outline" style="width:20px; height:20px; font-size:30px; margin-left:20px"></button>
                    </div>
                </div>
            </label>


            <label class="item item-input">
                <div class="input-label" style="width:20%; font-weight:bold; color:red">
                    Subinventory :
                </div>
                <div class="list" style="width:80%;">
                    <div class="item-input-inset">
                        <label class="item-input" style="width:90%;">
                            <input type="text" placeholder="Please Enter Subinventory" style="background-color:#ccc; padding:10px;">
                        </label>
                        <button class="button button-assertive ion-ios-barcode-outline" style="width:20px; height:20px; font-size:30px; margin-left:20px"></button>
                    </div>
                </div>
            </label>








            <label class="item item-input item-select" style=" margin-top:0px;">
                <div class="input-label" style="font-weight:bold; color:red">
                    View By :
                </div>
                <select class="form-control" data-ng-options="o for o in details.Project.all" data-ng-model="details.Project.selected"></select>
            </label>

            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <div id="fRowLeft" style="cursor:pointer" ng-click='navigatePage("#/app/OnHandSearch/","2")' align="center">
                        <button class="button icon-left ion-close-circled button-assertive" style="width:120px; font-size:18px;">Cancel</button>
                    </div>
                </div>
                <div class="col">
                    <div id="fRowLeft" style="cursor:pointer" align="center">
                        <!-- <button class="button button-balanced ion-trash-b" style="width:60px; height:60px; font-size:30px;"></button> -->
                        <button class="button icon-left ion-trash-b button-balanced" style="width:120px; font-size:18px;" ng-click="showInfo()">Clear</button>
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
                <div class="col">
                    <div id="fRowLeft" style="cursor:pointer" ng-click='navigatePage("#/app/OnHandSearch/","2")' align="center">
                        <button class="button icon-left ion-android-search button-positive" style="width:120px; font-size:18px;">Search</button>
                    </div>
                </div>

            </div>




</ion-content>
</ion-view>
