
.AP-debug {
  position: absolute;
  bottom: 100px;
  right: 10px;
  z-index: 90;
}

.ui-notification {
  border-radius: 3.5px;
  font-size: $font-md;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  min-height: 46px;
  &.success {
    color: $light;
    background: $mainColor-100;
  }
  &.error {
    color: $light;
    background: #F44336;
  }
  &.warning {
    color: $light;
    background: #FF9800;
  }
}

// general html tags
body, .pane {
  background-color: $secColor !important;
}

/*input[type="search"] { // will not apply search appearnce - currently not used
  -webkit-appearance: textfield;
}*/
.h-default {
  font-family: Raleway;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  color: $light;

}
h1, h2, h3, h4, h5, h6, h7, h8, h9 {
  @extend .h-default;
}

h1 {
  font-size: $font-lg;
}

h2 {
  font-size: $font-md;
}

h3 {
  font-size: $font-sm;
}

// bars and titles
.AP-bar {
  background-color: $mainColor;
  border-color: $mainColor;
}

.AP-bar-subheader {
  background-color: $mainColor-700;
  border-color: $mainColor-700;
}

.AP-content {
  background-color: $secColor;
}

.AP-right {
  text-align: right;
  padding-right: 15px;
}

.title {
  height: 65px !important;
  overflow: visible;
  font-family: Raleway;
  color: $light;
  font-size: $font-lg !important;
  font-weight: normal !important;

}

.title-image {
  margin-top: 9px;
  height: 28px;
}

.bar-subheader {
  //    top: 65px;
}

.bar-header {
  //height: 65px;
}

.has-header {
  //    top: 65px;
}

.has-subheader {
  //    top: 110px
}
