.error-container {
  margin: 5px 0;
}

.error-container:last-child {
  margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: Raleway, "Arial Black", Gadget, sans-serif;
  font-size: $font-sm;
  text-transform: uppercase;
  color: $secColor-300;
  vertical-align: middle;
  white-space: normal !important;
}

.error i {
  font-size: $font-lg;
  color: #F44336;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #F44336 !important;
}

.no-errors {
  border-bottom: 3px solid #4CAF50 !important;
}

.item-input-wrapper, .item-input {
  background-color: $mainColor-900;
  border: none;
  border-radius: 3.5px;
  input, span {
    background-color: $mainColor-900;
    color: $light;

  }
}

.AP-input-container {
  -ms-flex: 1;
  flex: 1;
  display: flex;
  border-radius: 3.5px;
  overflow: hidden;
  input {
    padding: 5px 5px 5px 5px;
  }
  ::-webkit-input-placeholder {
    padding: 5px 0px 5px 0px;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    padding: 5px 0px 5px 0px;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    padding: 5px 0px 5px 0px;
  }
  :-ms-input-placeholder {
    padding: 5px 0px 5px 0px;
  }

  i {
    font-size: $fa-md;
  }
}

.AP-form {
  display: flex;
  flex-direction: column;
  .item {
    padding: 0;
  }
  input, select {
    font-size: $font-md;
    padding-top: 0px;
    height: 38px;
    width: 100%;
  }
  select {
    background-color: $mainColor-900;
    color: white;
    border: none;
    border-radius: 5px;
  }
  ::-webkit-input-placeholder {
    padding: 3px 0px 5px 0px;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    padding: 3px 0px 5px 0px;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    padding: 3px 0px 5px 0px;
  }
  :-ms-input-placeholder {
    padding: 3px 0px 5px 0px;
  }
  i {
    font-size: $font-md;
  }

  .AP-item {
    -ms-flex: none;
    flex: none;
    padding: 10px 0px 10px 0px;

    div {
      text-align: center;
    }
  }

  .AP-flex-max {
    -ms-flex: 1;
    flex: 1;
  }

  .AP-item {
    .AP-input-container {
      margin-top: 0;
      label {
        margin-left: 5px;
        text-align: left;
      }
    }
  }
}

.AP-check-form {
  div {
    display: block !important;
    margin: 10px 10px 10px 10px;
    background-color: $mainColor-100;
    border-radius: 3.5px;
    text-align: center;
    height: 46px;
    i {
      color: $light;
      font-size: $fa-lg;
    }
  }
}

.AP-login {
  .error {
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    background-color: $mainColor-700;
    padding: 5px 0 0 10px;
    font-size: $font-sm !important;
    color: $secColor-100;
  }
  .item {
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: $font-md;
    background-color: $mainColor-700;
    input {
      // background-color: $mainColor-700;
      color: $light;
      border-radius: 3.5px;
      font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      font-size: $font-md;
      padding: 7px 5px 7px 10px;
    }
    p, label {
      color: $secColor-100;
      font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      font-size: $font-md;
    }
    .button-positive {
      background-color: $mainColor-100;
      font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      font-size: $font-md;
      color: $light;
    }
    button {
      box-shadow: none;
      border-radius: 3.5px;
    }
  }
  .button, .button-block {
    margin-top: 0;
  }
}



