<ion-view title="{{navTitle}}">
  <!-- selected item-->
  <ion-content class="AP-content" style="top: 40px">

    <div class="padding-horizontal AP-onhand">
      <!-- item header -->
      <div class="fa-lg AP-item AP-item-detail AP-clear-border">
        <label>{{selectedItem.ITEM}}</label>
        <span class="AP-flex-max">{{selectedItem.DESCRIPTION}}</span>
        <i class="fa fa-times" on-tap="closeItem()"></i>
      </div>

      <div class="padding-horizontal">

        <div class="AP-item AP-item-header-detail AP-padding">
          <label class="">On Hand:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.itemQtys.priQty}}</span>
          <span class="AP-right">{{selectedItem.itemQtys.priUOM}}</span>
        </div>
        <div class="AP-item AP-item-header-detail AP-border">
          <label class="">Available:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.itemQtys.priATT}}</span>
          <span class="AP-right">{{selectedItem.itemQtys.priATTUOM}}</span>
        </div>

        <div class="AP-item AP-item-header AP-border AP-padding" style="padding-top: 10px">
          <label style="min-width: 90px;">Date:</label>
          <label class="item-input AP-flex-max AP-right">
            <input type="date" ng-model="selectedValues.date">
          </label>
        </div>
        <div class="AP-item AP-item-header AP-padding">
          <label style="min-width: 90px;">Time:</label>
          <label class="item-input AP-flex-max AP-right">
            <input type="Time" ng-model="selectedValues.time">
          </label>
        </div>

        <div class="AP-item AP-item-header-detail">
          <label class="">From Sub:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.SUBINVENTORY_CODE}}</span>
        </div>

        <div class="AP-item AP-item-header AP-padding" style="padding-top: 10px">
          <label style="min-width: 90px;">To Sub:</label>
          <select class="AP-right AP-flex-max item-input" ng-model="selectedValues.subInv"
                  ng-options="key as val.name for (key,val) in subInvLOV"></select>
        </div>

        <div class="AP-item AP-item-header AP-padding">
          <label style="min-width: 90px;">UOM:</label>
          <select class="AP-right AP-flex-max item-input" ng-model="selectedValues.uom"
                  ng-options="key as val.name group by val.type for (key,val) in uomLOV"></select>
        </div>

        <div class="AP-item AP-item-selected-input">
          <label style="min-width: 90px;">Quantity:</label>

          <div class="AP-input-container secColor-900">
            <i class="fa fa-minus" on-tap="adjustQty(-1)" on-hold="adjustQty(-10)" on-release="adjustQty(0)"></i>
            <input class="AP-right" type="tel" ng-model="selectedItem.tmpQty" class="AP-flex-max"/>
            <i class="fa fa-plus" on-tap="adjustQty(1)" on-hold="adjustQty(10)" on-release="adjustQty(0)"></i>
          </div>
        </div>
        <div class="AP-check-form AP-item AP-item-selected-Button">
          <div style="margin: 10px 0 10px 0" on-tap="itemSave()">
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
