<ion-view title="{{navTitle}}">
  <ion-content class="AP-content" style="top:120px;">
    <!-- the main list -->

    <!-- item-->
    <div class="padding-horizontal" on-tap="selectItem(item)"
         ng-repeat="item in allItems | filter : {ITEM:selectedValues.itemFilter} | limitTo : 50">
      <!-- item header -->
      <div class="AP-clear-padding AP-item AP-item-detail" ng-class="($first)?'AP-clear-border':''">
        <label class="text-color">{{item.ITEM}}</label>
        <span class="text-color AP-flex-max">{{item.DESCRIPTION}}</span>
        <i class="fa fa-angle-right"></i>
      </div>
      <div class="AP-item AP-item-header-detail padding-horizontal AP-padding">
        <label class="">Sub:</label>
        <span class="AP-flex-max">{{item.SUBINVENTORY_CODE}}</span>
      </div>
    </div>

