<ion-view title="{{navTitle}}">
  <ion-content class="AP-content" style="top:170px;">
    <!-- the main list -->

    <!-- filter headline
    <div class="padding-horizontal AP-view-by">
      <div class="AP-item AP-item-detail AP-clear-border">
        <label>Location</label>
      </div>
    </div>-->

    <!-- item-->
    <div class="padding-horizontal" on-tap="selectItem(item)"
         ng-repeat="item in allItems | filter : {ITEM:selectedValues.itemFilter, SUBINVENTORY_CODE:selectedValues.subInv, LOT_NUMBER:selectedValues.lot} | limitTo : 50">
      <!-- item header -->
      <div class="AP-clear-padding AP-item AP-item-detail" ng-class="($first)?'AP-clear-border':''">
        <label style="color: white">{{item.ITEM}}</label>
        <span class="AP-flex-max" style="color: white">{{item.DESCRIPTION}}</span>
        <i class="fa fa-angle-right"></i>
      </div>
      <div class="AP-item AP-item-header-detail">
        <div class="half">
          <label class="">Sub:</label>
          <span class="AP-flex-max AP-right">{{item.SUBINVENTORY_CODE}}</span>
        </div>
        <div class="half">
          <label class="">Locator:</label>
          <span class="AP-flex-max AP-right">{{item.LOCATOR}}</span>
        </div>
      </div>
      <div class="AP-item AP-item-header-detail AP-padding">
        <div class="half">
          <label class="">Lot:</label>
          <span class="AP-flex-max AP-right">{{item.LOT_NUMBER}}</span>
        </div>
        <div class="half">
          <label class="">Project:</label>
          <span class="AP-flex-max AP-right">{{item.PROJECT_NAME}}</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
