<ion-view title="{{navTitle}}">
  <!-- selected item-->
  <ion-content class="AP-content" style="top: 40px">

    <div class="padding-horizontal AP-onhand">
      <!-- item header -->
      <div class="fa-lg AP-item AP-item-detail AP-clear-border">
        <span class="AP-flex-max">{{selectedItem.ITEM}}- {{selectedItem.DESCRIPTION}}</span>
        <i class="fa fa-times" on-tap="closeItem()"></i>
      </div>

      <div class="padding-horizontal">

        <div class="AP-item AP-item-header-detail AP-border">
            <label class="">Sub:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.SUBINVENTORY_CODE}}</span>
        </div>
        <div class="AP-item AP-item-header-detail">
            <label class="">Locator:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.LOCATOR}}</span>
        </div>
        <div class="AP-item AP-item-header-detail">
            <label class="">Lot:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.LOT_NUMBER}}</span>
        </div>
        <div class="AP-item AP-item-header-detail AP-padding">
            <label class="">Projct:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.PROJECT_NAME}}</span>
        </div>

        <div class="AP-item AP-item-header-detail AP-border">
          <label class="">Cost Group:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.COST_GROUP}}</span>
        </div>
        <div class="AP-item AP-item-header-detail">
            <label class="">Task:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.TASK_NAME}}</span>
        </div>
        <div class="AP-item AP-item-header-detail">
          <label class="">Revision:</label>
          <span class="AP-flex-max AP-right">{{selectedItem.REVISION}}</span>
        </div>
        <div class="AP-item AP-item-header-detail AP-padding">
          <label class="">Grade:</label>
          <span class="AP-flex-max AP-right"></span>
        </div>

        <div class="AP-item AP-item-detail" style="padding: 0">
          <label>On hand</label>
          <span class="AP-flex-max AP-right">{{itemQtys.priQty}}</span>
          <span class="AP-right">{{itemQtys.priUOM}}</span>
        </div>

        <div class="AP-item AP-item-header-detail">
            <label class="">Reserved:</label>
            <span class="AP-flex-max AP-right">!!Reserved!!</span>
        </div>
        <div class="AP-item AP-item-header-detail">
            <label class="">Loaded:</label>
            <span class="AP-flex-max AP-right">!!Loaded!!</span>
        </div>
        <div class="AP-item AP-item-header-detail">
            <label class="">packed:</label>
            <span class="AP-flex-max AP-right">!!packed!!</span>
        </div>
        <div class="AP-item AP-item-header-detail AP-padding">
            <label class="">Un packed:</label>
            <span class="AP-flex-max AP-right">!!Un packed!!</span>
        </div>

      </div>
      <div class="AP-item AP-border AP-check-form" on-tap="subinvetoryTransfer()">
        <div style="margin: 10px 0 10px 0">
          <label>
            <i style="font-size: 18px; padding-top: 13px" class="fa fa-share-square-o"></i>
            Sub inventory
          </label>
        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
